# Example of merging dfs

In [42]:
import pandas as pd
import numpy as np
import sqlite3

In [43]:
# Sample df

patient_df = pd.DataFrame({
    'PatientID' : range(1, 51),
    'BloodPressure': np.random.randint(80, 180, 50),
    'Smoking': np.random.randint(0, 2, 50)
    # 'WhiteBloodCellCount': np.random.randint(300, 800, 50),
    # 'CholesterolLevels': np.random.randint(5, 30, 50)
})

BloodPressure_range_df = pd.DataFrame({
    'BloodPressureDiagnosisID': range(3),
    'Low': [0, 121, 141],
    'High': [120, 140, 5000]
})

BloodPressureDiagnosis_df = pd.DataFrame({
    'BloodPressureDiagnosisID': range(3),
    'BloodPressureDiagnosis': ['No treatment needed', 'Exercise Daily', 'You\'re screwed!']
})

SmokingDiagnosis_df = pd.DataFrame({
    'Smoking': [0, 1],
    'SmokingDiagnosis': ['Good job!', 'STOP IT NOW DUMMY!']
})

In [44]:
patient_df

    PatientID  BloodPressure  Smoking
0           1            104        0
1           2            110        1
2           3            172        0
3           4            148        0
4           5             98        0
5           6             84        1
6           7            114        0
7           8            156        1
8           9            160        0
9          10            119        1
10         11             83        0
11         12            125        0
12         13             88        0
13         14            143        1
14         15            103        1
15         16            137        0
16         17             95        1
17         18            175        0
18         19            112        1
19         20            161        0
20         21            139        1
21         22            127        0
22         23             84        1
23         24            145        1
24         25            149        0
25         26            156        0
26         27            121        1
27         28            133        0
28         29            152        0
29         30            108        1
30         31            114        0
31         32             96        1
32         33            106        0
33         34            100        1
34         35            105        0
35         36             89        0
36         37            170        0
37         38            163        0
38         39            169        1
39         40            158        1
40         41             94        1
41         42             99        1
42         43            173        1
43         44            103        1
44         45            135        0
45         46            102        0
46         47            143        1
47         48            143        1
48         49            117        0
49         50             89        0

In [45]:
BloodPressure_range_df

   BloodPressureDiagnosisID  Low  High
0                         0    0   120
1                         1  121   140
2                         2  141  5000

In [46]:
BloodPressureDiagnosis_df

   BloodPressureDiagnosisID BloodPressureDiagnosis
0                         0    No treatment needed
1                         1         Exercise Daily
2                         2        You're screwed!

In [47]:
SmokingDiagnosis_df

   Smoking    SmokingDiagnosis
0        0           Good job!
1        1  STOP IT NOW DUMMY!

In [48]:
# There's no good way in pandas to join on a range of values, so easiest to use sql for any part involving a range. The rest can be done easily with merges.

conn = sqlite3.connect(':memory:')
patient_df.to_sql("patient_df", conn, index=False)
BloodPressure_range_df.to_sql("BloodPressure_range_df", conn, index=False)
query = "SELECT * FROM patient_df LEFT JOIN BloodPressure_range_df ON patient_df.BloodPressure BETWEEN BloodPressure_range_df.Low AND BloodPressure_range_df.High"
new_patient_df = pd.read_sql_query(query, conn)

new_patient_df

    PatientID  BloodPressure  Smoking  BloodPressureDiagnosisID  Low  High
0           1            104        0                         0    0   120
1           2            110        1                         0    0   120
2           3            172        0                         2  141  5000
3           4            148        0                         2  141  5000
4           5             98        0                         0    0   120
5           6             84        1                         0    0   120
6           7            114        0                         0    0   120
7           8            156        1                         2  141  5000
8           9            160        0                         2  141  5000
9          10            119        1                         0    0   120
10         11             83        0                         0    0   120
11         12            125        0                         1  121   140
12         13             88        0                         0    0   120
13         14            143        1                         2  141  5000
14         15            103        1                         0    0   120
15         16            137        0                         1  121   140
16         17             95        1                         0    0   120
17         18            175        0                         2  141  5000
18         19            112        1                         0    0   120
19         20            161        0                         2  141  5000
20         21            139        1                         1  121   140
21         22            127        0                         1  121   140
22         23             84        1                         0    0   120
23         24            145        1                         2  141  5000
24         25            149        0                         2  141  5000
25         26            156        0                         2  141  5000
26         27            121        1                         1  121   140
27         28            133        0                         1  121   140
28         29            152        0                         2  141  5000
29         30            108        1                         0    0   120
30         31            114        0                         0    0   120
31         32             96        1                         0    0   120
32         33            106        0                         0    0   120
33         34            100        1                         0    0   120
34         35            105        0                         0    0   120
35         36             89        0                         0    0   120
36         37            170        0                         2  141  5000
37         38            163        0                         2  141  5000
38         39            169        1                         2  141  5000
39         40            158        1                         2  141  5000
40         41             94        1                         0    0   120
41         42             99        1                         0    0   120
42         43            173        1                         2  141  5000
43         44            103        1                         0    0   120
44         45            135        0                         1  121   140
45         46            102        0                         0    0   120
46         47            143        1                         2  141  5000
47         48            143        1                         2  141  5000
48         49            117        0                         0    0   120
49         50             89        0                         0    0   120

In [50]:
new_patient_df.merge(BloodPressureDiagnosis_df).merge(SmokingDiagnosis_df).sort_values('PatientID')

,PatientID,BloodPressure,Smoking,BloodPressureDiagnosisID,Low,High,BloodPressureDiagnosis,SmokingDiagnosis
0,1,104,0,0,0,120,No treatment needed,Good job!
27,2,110,1,0,0,120,No treatment needed,STOP IT NOW DUMMY!
12,3,172,0,2,141,5000,You're screwed!,Good job!
13,4,148,0,2,141,5000,You're screwed!,Good job!
1,5,98,0,0,0,120,No treatment needed,Good job!
28,6,84,1,0,0,120,No treatment needed,STOP IT NOW DUMMY!
2,7,114,0,0,0,120,No treatment needed,Good job!
40,8,156,1,2,141,5000,You're screwed!,STOP IT NOW DUMMY!
14,9,160,0,2,141,5000,You're screwed!,Good job!
29,10,119,1,0,0,120,No treatment needed,STOP IT NOW DUMMY!
3,11,83,0,0,0,120,No treatment needed,Good job!
22,12,125,0,1,121,140,Exercise Daily,Good job!
4,13,88,0,0,0,120,No treatment needed,Good job!
41,14,143,1,2,141,5000,You're screwed!,STOP IT NOW DUMMY!
30,15,103,1,0,0,120,No treatment needed,STOP IT NOW DUMMY!
23,16,137,0,1,121,140,Exercise Daily,Good job!
31,17,95,1,0,0,120,No treatment needed,STOP IT NOW DUMMY!
15,18,175,0,2,141,5000,You're screwed!,Good job!
32,19,112,1,0,0,120,No treatment needed,STOP IT NOW DUMMY!
16,20,161,0,2,141,5000,You're screwed!,Good job!
48,21,139,1,1,121,140,Exercise Daily,STOP IT NOW DUMMY!
24,22,127,0,1,121,140,Exercise Daily,Good job!
33,23,84,1,0,0,120,No treatment needed,STOP IT NOW DUMMY!
42,24,145,1,2,141,5000,You're screwed!,STOP IT NOW DUMMY!
17,25,149,0,2,141,5000,You're screwed!,Good job!
18,26,156,0,2,141,5000,You're screwed!,Good job!
49,27,121,1,1,121,140,Exercise Daily,STOP IT NOW DUMMY!
25,28,133,0,1,121,140,Exercise Daily,Good job!
19,29,152,0,2,141,5000,You're screwed!,Good job!
34,30,108,1,0,0,120,No treatment needed,STOP IT NOW DUMMY!
5,31,114,0,0,0,120,No treatment needed,Good job!
35,32,96,1,0,0,120,No treatment needed,STOP IT NOW DUMMY!
6,33,106,0,0,0,120,No treatment needed,Good job!
36,34,100,1,0,0,120,No treatment needed,STOP IT NOW DUMMY!
7,35,105,0,0,0,120,No treatment needed,Good job!
8,36,89,0,0,0,120,No treatment needed,Good job!
20,37,170,0,2,141,5000,You're screwed!,Good job!
21,38,163,0,2,141,5000,You're screwed!,Good job!
43,39,169,1,2,141,5000,You're screwed!,STOP IT NOW DUMMY!
44,40,158,1,2,141,5000,You're screwed!,STOP IT NOW DUMMY!
37,41,94,1,0,0,120,No treatment needed,STOP IT NOW DUMMY!
38,42,99,1,0,0,120,No treatment needed,STOP IT NOW DUMMY!
45,43,173,1,2,141,5000,You're screwed!,STOP IT NOW DUMMY!
39,44,103,1,0,0,120,No treatment needed,STOP IT NOW DUMMY!
26,45,135,0,1,121,140,Exercise Daily,Good job!
9,46,102,0,0,0,120,No treatment needed,Good job!
46,47,143,1,2,141,5000,You're screwed!,STOP IT NOW DUMMY!
47,48,143,1,2,141,5000,You're screwed!,STOP IT NOW DUMMY!
10,49,117,0,0,0,120,No treatment needed,Good job!
11,50,89,0,0,0,120,No treatment needed,Good job!