# Example of merging dfs

In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
# Sample dfs

num_patients = 50


patient_df = pd.DataFrame({
    'PatientID' : range(1, num_patients + 1),
    'BloodPressure': np.random.randint(80, 180, num_patients),
    'Smoking': np.random.randint(0, 2, num_patients),
    'WhiteBloodCellCount': np.random.randint(300, 800, num_patients),
    'CholesterolLevel': np.random.randint(5, 30, num_patients)
})

BloodPressure_range_df = pd.DataFrame({
    'BloodPressureDiagnosisID': range(3),
    'BloodPressureLow': [0, 121, 141],
    'BloodPressureHigh': [120, 140, 5000]
})

BloodPressureDiagnosis_df = pd.DataFrame({
    'BloodPressureDiagnosisID': range(3),
    'BloodPressureDiagnosis': [
        'No treatment needed', 
        'Exercise Daily', 
        'You\'re screwed!']
})

SmokingDiagnosis_df = pd.DataFrame({
    'Smoking': [0, 1],
    'SmokingDiagnosis': [
        'Good job!', 
        'STOP IT NOW DUMMY!']
})

WhiteBloodCell_range_df = pd.DataFrame({
    'WhiteBloodCellDiagnosisID': [0, 1],
    'WhiteBloodCellLow': [0, 501],
    'WhiteBloodCellHigh': [500, 10000]
})

Cholesterol_range_df = pd.DataFrame({
    'CholesterolDiagnosisID': [0, 1],
    'CholesterolLow': [0, 16],
    'CholesterolHigh': [15, 100]
})

CombinedWhiteBloodCellAndCholesterolDiagnosis_df = pd.DataFrame({
    'WhiteBloodCellDiagnosisID': [0, 0, 1, 1],
    'CholesterolDiagnosisID': [0, 1, 0, 1],
    'CombinedWhiteBloodCellAndCholesterolDiagnosis': [
        'Nice', 
        'Take more walks', 
        'Eat more chocolate', 
        'Strike first, strike hard, no mercy!']
})

In [3]:
patient_df

    PatientID  BloodPressure  Smoking  WhiteBloodCellCount  CholesterolLevel
0           1            159        1                  637                10
1           2             99        1                  302                 8
2           3            120        0                  718                24
3           4            151        1                  581                17
4           5             98        0                  329                 6
5           6            176        1                  661                26
6           7            158        1                  375                 7
7           8            131        1                  532                14
8           9            168        1                  576                12
9          10            153        1                  306                27
10         11            131        1                  441                23
11         12            141        1                  578                23
12         13            159        1                  768                16
13         14            116        1                  370                25
14         15             87        0                  716                27
15         16            172        0                  785                10
16         17             80        1                  482                12
17         18            169        1                  623                13
18         19            116        0                  680                18
19         20            119        0                  737                 6
20         21            116        1                  653                16
21         22             97        0                  434                29
22         23            102        1                  644                24
23         24             86        0                  561                19
24         25            144        0                  503                15
25         26            128        0                  642                28
26         27            100        0                  779                24
27         28            169        0                  589                29
28         29            172        0                  793                 9
29         30             91        0                  535                11
30         31            171        0                  522                14
31         32            100        1                  540                 6
32         33            177        0                  770                 8
33         34             80        0                  784                19
34         35            179        0                  472                14
35         36             95        1                  635                29
36         37             98        0                  413                26
37         38            104        0                  357                12
38         39            179        0                  437                18
39         40            106        1                  403                29
40         41            125        0                  717                27
41         42            108        1                  383                 6
42         43            157        0                  308                 6
43         44            147        0                  604                18
44         45            108        1                  566                20
45         46            164        0                  359                25
46         47            121        1                  736                 6
47         48            166        0                  607                11
48         49            171        0                  704                19
49         50            101        0                  399                17

In [4]:
BloodPressure_range_df

   BloodPressureDiagnosisID  BloodPressureLow  BloodPressureHigh
0                         0                 0                120
1                         1               121                140
2                         2               141               5000

In [5]:
BloodPressureDiagnosis_df

   BloodPressureDiagnosisID BloodPressureDiagnosis
0                         0    No treatment needed
1                         1         Exercise Daily
2                         2        You're screwed!

In [6]:
SmokingDiagnosis_df

   Smoking    SmokingDiagnosis
0        0           Good job!
1        1  STOP IT NOW DUMMY!

In [7]:
WhiteBloodCell_range_df

   WhiteBloodCellDiagnosisID  WhiteBloodCellLow  WhiteBloodCellHigh
0                          0                  0                 500
1                          1                501               10000

In [8]:
Cholesterol_range_df

   CholesterolDiagnosisID  CholesterolLow  CholesterolHigh
0                       0               0               15
1                       1              16              100

In [9]:
CombinedWhiteBloodCellAndCholesterolDiagnosis_df

,WhiteBloodCellDiagnosisID,CholesterolDiagnosisID,CombinedWhiteBloodCellAndCholesterolDiagnosis
0,0,0,Nice
1,0,1,Take more walks
2,1,0,Eat more chocolate
3,1,1,"Strike first, strike hard, no mercy!"

In [10]:
# There's no good way in pandas to join on a range of values, so easiest to use sql for any part involving a range. The rest can be done easily with merges.

conn = sqlite3.connect(':memory:')
patient_df.to_sql("patient_df", conn, index=False)
BloodPressure_range_df.to_sql("BloodPressure_range_df", conn, index=False)
WhiteBloodCell_range_df.to_sql("WhiteBloodCell_range_df", conn, index=False)
Cholesterol_range_df.to_sql("Cholesterol_range_df", conn, index=False)
query = """

SELECT patient_df.*, BloodPressure_range_df.BloodPressureDiagnosisID, WhiteBloodCell_range_df.WhiteBloodCellDiagnosisID, Cholesterol_range_df.CholesterolDiagnosisID
FROM patient_df 
LEFT JOIN BloodPressure_range_df ON patient_df.BloodPressure BETWEEN BloodPressure_range_df.BloodPressureLow AND BloodPressure_range_df.BloodPressureHigh
LEFT JOIN WhiteBloodCell_range_df ON patient_df.WhiteBloodCellCount BETWEEN WhiteBloodCell_range_df.WhiteBloodCellLow AND WhiteBloodCell_range_df.WhiteBloodCellHigh
LEFT JOIN Cholesterol_range_df ON patient_df.CholesterolLevel BETWEEN Cholesterol_range_df.CholesterolLow AND Cholesterol_range_df.CholesterolHigh
"""

new_patient_df = pd.read_sql_query(query, conn)

new_patient_df

,PatientID,BloodPressure,Smoking,WhiteBloodCellCount,CholesterolLevel,BloodPressureDiagnosisID,WhiteBloodCellDiagnosisID,CholesterolDiagnosisID
0,1,159,1,637,10,2,1,0
1,2,99,1,302,8,0,0,0
2,3,120,0,718,24,0,1,1
3,4,151,1,581,17,2,1,1
4,5,98,0,329,6,0,0,0
5,6,176,1,661,26,2,1,1
6,7,158,1,375,7,2,0,0
7,8,131,1,532,14,1,1,0
8,9,168,1,576,12,2,1,0
9,10,153,1,306,27,2,0,1
10,11,131,1,441,23,1,0,1
11,12,141,1,578,23,2,1,1
12,13,159,1,768,16,2,1,1
13,14,116,1,370,25,0,0,1
14,15,87,0,716,27,0,1,1
15,16,172,0,785,10,2,1,0
16,17,80,1,482,12,0,0,0
17,18,169,1,623,13,2,1,0
18,19,116,0,680,18,0,1,1
19,20,119,0,737,6,0,1,0
20,21,116,1,653,16,0,1,1
21,22,97,0,434,29,0,0,1
22,23,102,1,644,24,0,1,1
23,24,86,0,561,19,0,1,1
24,25,144,0,503,15,2,1,0
25,26,128,0,642,28,1,1,1
26,27,100,0,779,24,0,1,1
27,28,169,0,589,29,2,1,1
28,29,172,0,793,9,2,1,0
29,30,91,0,535,11,0,1,0
30,31,171,0,522,14,2,1,0
31,32,100,1,540,6,0,1,0
32,33,177,0,770,8,2,1,0
33,34,80,0,784,19,0,1,1
34,35,179,0,472,14,2,0,0
35,36,95,1,635,29,0,1,1
36,37,98,0,413,26,0,0,1
37,38,104,0,357,12,0,0,0
38,39,179,0,437,18,2,0,1
39,40,106,1,403,29,0,0,1
40,41,125,0,717,27,1,1,1
41,42,108,1,383,6,0,0,0
42,43,157,0,308,6,2,0,0
43,44,147,0,604,18,2,1,1
44,45,108,1,566,20,0,1,1
45,46,164,0,359,25,2,0,1
46,47,121,1,736,6,1,1,0
47,48,166,0,607,11,2,1,0
48,49,171,0,704,19,2,1,1
49,50,101,0,399,17,0,0,1

In [11]:
# Merge, Merge, Merge

new_patient_df.merge(
    BloodPressureDiagnosis_df, how = 'left', on = ['BloodPressureDiagnosisID']).merge(
        SmokingDiagnosis_df, how = 'left', on = ['Smoking']).merge(
            CombinedWhiteBloodCellAndCholesterolDiagnosis_df, how = 'left', on = ['WhiteBloodCellDiagnosisID', 'CholesterolDiagnosisID'])

,PatientID,BloodPressure,Smoking,WhiteBloodCellCount,CholesterolLevel,BloodPressureDiagnosisID,WhiteBloodCellDiagnosisID,CholesterolDiagnosisID,BloodPressureDiagnosis,SmokingDiagnosis,CombinedWhiteBloodCellAndCholesterolDiagnosis
0,1,159,1,637,10,2,1,0,You're screwed!,STOP IT NOW DUMMY!,Eat more chocolate
1,2,99,1,302,8,0,0,0,No treatment needed,STOP IT NOW DUMMY!,Nice
2,3,120,0,718,24,0,1,1,No treatment needed,Good job!,"Strike first, strike hard, no mercy!"
3,4,151,1,581,17,2,1,1,You're screwed!,STOP IT NOW DUMMY!,"Strike first, strike hard, no mercy!"
4,5,98,0,329,6,0,0,0,No treatment needed,Good job!,Nice
5,6,176,1,661,26,2,1,1,You're screwed!,STOP IT NOW DUMMY!,"Strike first, strike hard, no mercy!"
6,7,158,1,375,7,2,0,0,You're screwed!,STOP IT NOW DUMMY!,Nice
7,8,131,1,532,14,1,1,0,Exercise Daily,STOP IT NOW DUMMY!,Eat more chocolate
8,9,168,1,576,12,2,1,0,You're screwed!,STOP IT NOW DUMMY!,Eat more chocolate
9,10,153,1,306,27,2,0,1,You're screwed!,STOP IT NOW DUMMY!,Take more walks
10,11,131,1,441,23,1,0,1,Exercise Daily,STOP IT NOW DUMMY!,Take more walks
11,12,141,1,578,23,2,1,1,You're screwed!,STOP IT NOW DUMMY!,"Strike first, strike hard, no mercy!"
12,13,159,1,768,16,2,1,1,You're screwed!,STOP IT NOW DUMMY!,"Strike first, strike hard, no mercy!"
13,14,116,1,370,25,0,0,1,No treatment needed,STOP IT NOW DUMMY!,Take more walks
14,15,87,0,716,27,0,1,1,No treatment needed,Good job!,"Strike first, strike hard, no mercy!"
15,16,172,0,785,10,2,1,0,You're screwed!,Good job!,Eat more chocolate
16,17,80,1,482,12,0,0,0,No treatment needed,STOP IT NOW DUMMY!,Nice
17,18,169,1,623,13,2,1,0,You're screwed!,STOP IT NOW DUMMY!,Eat more chocolate
18,19,116,0,680,18,0,1,1,No treatment needed,Good job!,"Strike first, strike hard, no mercy!"
19,20,119,0,737,6,0,1,0,No treatment needed,Good job!,Eat more chocolate
20,21,116,1,653,16,0,1,1,No treatment needed,STOP IT NOW DUMMY!,"Strike first, strike hard, no mercy!"
21,22,97,0,434,29,0,0,1,No treatment needed,Good job!,Take more walks
22,23,102,1,644,24,0,1,1,No treatment needed,STOP IT NOW DUMMY!,"Strike first, strike hard, no mercy!"
23,24,86,0,561,19,0,1,1,No treatment needed,Good job!,"Strike first, strike hard, no mercy!"
24,25,144,0,503,15,2,1,0,You're screwed!,Good job!,Eat more chocolate
25,26,128,0,642,28,1,1,1,Exercise Daily,Good job!,"Strike first, strike hard, no mercy!"
26,27,100,0,779,24,0,1,1,No treatment needed,Good job!,"Strike first, strike hard, no mercy!"
27,28,169,0,589,29,2,1,1,You're screwed!,Good job!,"Strike first, strike hard, no mercy!"
28,29,172,0,793,9,2,1,0,You're screwed!,Good job!,Eat more chocolate
29,30,91,0,535,11,0,1,0,No treatment needed,Good job!,Eat more chocolate
30,31,171,0,522,14,2,1,0,You're screwed!,Good job!,Eat more chocolate
31,32,100,1,540,6,0,1,0,No treatment needed,STOP IT NOW DUMMY!,Eat more chocolate
32,33,177,0,770,8,2,1,0,You're screwed!,Good job!,Eat more chocolate
33,34,80,0,784,19,0,1,1,No treatment needed,Good job!,"Strike first, strike hard, no mercy!"
34,35,179,0,472,14,2,0,0,You're screwed!,Good job!,Nice
35,36,95,1,635,29,0,1,1,No treatment needed,STOP IT NOW DUMMY!,"Strike first, strike hard, no mercy!"
36,37,98,0,413,26,0,0,1,No treatment needed,Good job!,Take more walks
37,38,104,0,357,12,0,0,0,No treatment needed,Good job!,Nice
38,39,179,0,437,18,2,0,1,You're screwed!,Good job!,Take more walks
39,40,106,1,403,29,0,0,1,No treatment needed,STOP IT NOW DUMMY!,Take more walks
40,41,125,0,717,27,1,1,1,Exercise Daily,Good job!,"Strike first, strike hard, no mercy!"
41,42,108,1,383,6,0,0,0,No treatment needed,STOP IT NOW DUMMY!,Nice
42,43,157,0,308,6,2,0,0,You're screwed!,Good job!,Nice
43,44,147,0,604,18,2,1,1,You're screwed!,Good job!,"Strike first, strike hard, no mercy!"
44,45,108,1,566,20,0,1,1,No treatment needed,STOP IT NOW DUMMY!,"Strike first, strike hard, no mercy!"
45,46,164,0,359,25,2,0,1,You're screwed!,Good job!,Take more walks
46,47,121,1,736,6,1,1,0,Exercise Daily,STOP IT NOW DUMMY!,Eat more chocolate
47,48,166,0,607,11,2,1,0,You're screwed!,Good job!,Eat more chocolate
48,49,171,0,704,19,2,1,1,You're screwed!,Good job!,"Strike first, strike hard, no mercy!"
49,50,101,0,399,17,0,0,1,No treatment needed,Good job!,Take more walks

The whole process is VERY fast, both the SQL and merges. I don't know of a faster way to do any of these operations. But there may be something out there.

Not sure if this is exactly what you're doing, but hopefully this helps a little. Let me know if it's a different scenario, I'd be curious.