# Example of merging dfs

In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
# Sample df

patient_df = pd.DataFrame({
    'PatientID' : range(1, 51),
    'BloodPressure': np.random.randint(80, 180, 50),
    'Smoking': np.random.randint(0, 2, 50),
    'WhiteBloodCellCount': np.random.randint(300, 800, 50),
    'CholesterolLevel': np.random.randint(5, 30, 50)
})

BloodPressure_range_df = pd.DataFrame({
    'BloodPressureDiagnosisID': range(3),
    'BloodPressureLow': [0, 121, 141],
    'BloodPressureHigh': [120, 140, 5000]
})

BloodPressureDiagnosis_df = pd.DataFrame({
    'BloodPressureDiagnosisID': range(3),
    'BloodPressureDiagnosis': ['No treatment needed', 'Exercise Daily', 'You\'re screwed!']
})

SmokingDiagnosis_df = pd.DataFrame({
    'Smoking': [0, 1],
    'SmokingDiagnosis': ['Good job!', 'STOP IT NOW DUMMY!']
})

WhiteBloodCell_range_df = pd.DataFrame({
    'WhiteBloodCellDiagnosisID': [0, 1],
    'WhiteBloodCellLow': [0, 501],
    'WhiteBloodCellHigh': [500, 10000]
})

Cholesterol_range_df = pd.DataFrame({
    'CholesterolDiagnosisID': [0, 1],
    'CholesterolLow': [0, 16],
    'CholesterolHigh': [15, 100]
})

CombinedWhiteBloodCellAndCholesterolDiagnosis_df = pd.DataFrame({
    'WhiteBloodCellDiagnosisID': [0, 0, 1, 1],
    'CholesterolDiagnosisID': [0, 1, 0, 1],
    'CombinedWhiteBloodCellAndCholesterolDiagnosis': ['Nice', 'Take more walks', 'Eat more chocolate', 'Strike first, strike hard, no mercy!']
})

In [3]:
patient_df

    PatientID  BloodPressure  Smoking  WhiteBloodCellCount  CholesterolLevel
0           1            152        0                  659                10
1           2            135        0                  660                14
2           3            138        0                  481                13
3           4            117        1                  361                26
4           5            164        0                  469                26
5           6             83        0                  652                26
6           7             97        1                  394                 5
7           8            159        0                  330                 7
8           9            120        1                  386                23
9          10            105        0                  634                21
10         11            125        0                  689                16
11         12            140        0                  344                22
12         13            169        0                  536                27
13         14            129        1                  317                22
14         15            154        0                  702                20
15         16             91        1                  646                 5
16         17            150        1                  517                16
17         18            172        1                  382                 8
18         19            153        0                  744                26
19         20            109        1                  422                 8
20         21            166        0                  719                15
21         22            133        0                  752                29
22         23            116        1                  346                23
23         24             85        0                  613                 8
24         25            147        0                  648                14
25         26            139        0                  463                10
26         27            117        1                  553                12
27         28            120        1                  428                24
28         29            100        0                  372                20
29         30             96        1                  659                 9
30         31             93        0                  702                23
31         32            162        0                  503                28
32         33            134        0                  644                20
33         34            151        1                  590                 6
34         35            139        1                  446                 8
35         36            112        1                  413                18
36         37            101        1                  584                12
37         38            166        0                  621                 9
38         39            110        0                  319                24
39         40            172        1                  539                 5
40         41             87        0                  656                26
41         42            174        1                  320                 7
42         43             94        1                  304                16
43         44            115        0                  466                 6
44         45            163        0                  501                26
45         46            164        1                  313                 5
46         47            142        0                  676                18
47         48             90        0                  329                17
48         49            164        0                  532                10
49         50            122        0                  498                14

In [4]:
BloodPressure_range_df

   BloodPressureDiagnosisID  BloodPressureLow  BloodPressureHigh
0                         0                 0                120
1                         1               121                140
2                         2               141               5000

In [5]:
BloodPressureDiagnosis_df

   BloodPressureDiagnosisID BloodPressureDiagnosis
0                         0    No treatment needed
1                         1         Exercise Daily
2                         2        You're screwed!

In [6]:
SmokingDiagnosis_df

   Smoking    SmokingDiagnosis
0        0           Good job!
1        1  STOP IT NOW DUMMY!

In [7]:
WhiteBloodCell_range_df

   WhiteBloodCellDiagnosisID  WhiteBloodCellLow  WhiteBloodCellHigh
0                          0                  0                 500
1                          1                501               10000

In [8]:
Cholesterol_range_df

   CholesterolDiagnosisID  CholesterolLow  CholesterolHigh
0                       0               0               15
1                       1              16              100

In [9]:
CombinedWhiteBloodCellAndCholesterolDiagnosis_df

,WhiteBloodCellDiagnosisID,CholesterolDiagnosisID,CombinedWhiteBloodCellAndCholesterolDiagnosis
0,0,0,Nice
1,0,1,Take more walks
2,1,0,Eat more chocolate
3,1,1,"Strike first, strike hard, no mercy!"

In [10]:
# There's no good way in pandas to join on a range of values, so easiest to use sql for any part involving a range. The rest can be done easily with merges.

conn = sqlite3.connect(':memory:')
patient_df.to_sql("patient_df", conn, index=False)
BloodPressure_range_df.to_sql("BloodPressure_range_df", conn, index=False)
WhiteBloodCell_range_df.to_sql("WhiteBloodCell_range_df", conn, index=False)
Cholesterol_range_df.to_sql("Cholesterol_range_df", conn, index=False)
query = """

SELECT patient_df.*, BloodPressure_range_df.BloodPressureDiagnosisID, WhiteBloodCell_range_df.WhiteBloodCellDiagnosisID, Cholesterol_range_df.CholesterolDiagnosisID
FROM patient_df 
LEFT JOIN BloodPressure_range_df ON patient_df.BloodPressure BETWEEN BloodPressure_range_df.BloodPressureLow AND BloodPressure_range_df.BloodPressureHigh
LEFT JOIN WhiteBloodCell_range_df ON patient_df.WhiteBloodCellCount BETWEEN WhiteBloodCell_range_df.WhiteBloodCellLow AND WhiteBloodCell_range_df.WhiteBloodCellHigh
LEFT JOIN Cholesterol_range_df ON patient_df.CholesterolLevel BETWEEN Cholesterol_range_df.CholesterolLow AND Cholesterol_range_df.CholesterolHigh
"""

new_patient_df = pd.read_sql_query(query, conn)

new_patient_df

,PatientID,BloodPressure,Smoking,WhiteBloodCellCount,CholesterolLevel,BloodPressureDiagnosisID,WhiteBloodCellDiagnosisID,CholesterolDiagnosisID
0,1,152,0,659,10,2,1,0
1,2,135,0,660,14,1,1,0
2,3,138,0,481,13,1,0,0
3,4,117,1,361,26,0,0,1
4,5,164,0,469,26,2,0,1
5,6,83,0,652,26,0,1,1
6,7,97,1,394,5,0,0,0
7,8,159,0,330,7,2,0,0
8,9,120,1,386,23,0,0,1
9,10,105,0,634,21,0,1,1
10,11,125,0,689,16,1,1,1
11,12,140,0,344,22,1,0,1
12,13,169,0,536,27,2,1,1
13,14,129,1,317,22,1,0,1
14,15,154,0,702,20,2,1,1
15,16,91,1,646,5,0,1,0
16,17,150,1,517,16,2,1,1
17,18,172,1,382,8,2,0,0
18,19,153,0,744,26,2,1,1
19,20,109,1,422,8,0,0,0
20,21,166,0,719,15,2,1,0
21,22,133,0,752,29,1,1,1
22,23,116,1,346,23,0,0,1
23,24,85,0,613,8,0,1,0
24,25,147,0,648,14,2,1,0
25,26,139,0,463,10,1,0,0
26,27,117,1,553,12,0,1,0
27,28,120,1,428,24,0,0,1
28,29,100,0,372,20,0,0,1
29,30,96,1,659,9,0,1,0
30,31,93,0,702,23,0,1,1
31,32,162,0,503,28,2,1,1
32,33,134,0,644,20,1,1,1
33,34,151,1,590,6,2,1,0
34,35,139,1,446,8,1,0,0
35,36,112,1,413,18,0,0,1
36,37,101,1,584,12,0,1,0
37,38,166,0,621,9,2,1,0
38,39,110,0,319,24,0,0,1
39,40,172,1,539,5,2,1,0
40,41,87,0,656,26,0,1,1
41,42,174,1,320,7,2,0,0
42,43,94,1,304,16,0,0,1
43,44,115,0,466,6,0,0,0
44,45,163,0,501,26,2,1,1
45,46,164,1,313,5,2,0,0
46,47,142,0,676,18,2,1,1
47,48,90,0,329,17,0,0,1
48,49,164,0,532,10,2,1,0
49,50,122,0,498,14,1,0,0

In [11]:
new_patient_df.merge(BloodPressureDiagnosis_df, how = 'left', on = ['BloodPressureDiagnosisID']).merge(SmokingDiagnosis_df, how = 'left', on = ['Smoking']).merge(CombinedWhiteBloodCellAndCholesterolDiagnosis_df, how = 'left', on = ['WhiteBloodCellDiagnosisID', 'CholesterolDiagnosisID'])

,PatientID,BloodPressure,Smoking,WhiteBloodCellCount,CholesterolLevel,BloodPressureDiagnosisID,WhiteBloodCellDiagnosisID,CholesterolDiagnosisID,BloodPressureDiagnosis,SmokingDiagnosis,CombinedWhiteBloodCellAndCholesterolDiagnosis
0,1,152,0,659,10,2,1,0,You're screwed!,Good job!,Eat more chocolate
1,2,135,0,660,14,1,1,0,Exercise Daily,Good job!,Eat more chocolate
2,3,138,0,481,13,1,0,0,Exercise Daily,Good job!,Nice
3,4,117,1,361,26,0,0,1,No treatment needed,STOP IT NOW DUMMY!,Take more walks
4,5,164,0,469,26,2,0,1,You're screwed!,Good job!,Take more walks
5,6,83,0,652,26,0,1,1,No treatment needed,Good job!,"Strike first, strike hard, no mercy!"
6,7,97,1,394,5,0,0,0,No treatment needed,STOP IT NOW DUMMY!,Nice
7,8,159,0,330,7,2,0,0,You're screwed!,Good job!,Nice
8,9,120,1,386,23,0,0,1,No treatment needed,STOP IT NOW DUMMY!,Take more walks
9,10,105,0,634,21,0,1,1,No treatment needed,Good job!,"Strike first, strike hard, no mercy!"
10,11,125,0,689,16,1,1,1,Exercise Daily,Good job!,"Strike first, strike hard, no mercy!"
11,12,140,0,344,22,1,0,1,Exercise Daily,Good job!,Take more walks
12,13,169,0,536,27,2,1,1,You're screwed!,Good job!,"Strike first, strike hard, no mercy!"
13,14,129,1,317,22,1,0,1,Exercise Daily,STOP IT NOW DUMMY!,Take more walks
14,15,154,0,702,20,2,1,1,You're screwed!,Good job!,"Strike first, strike hard, no mercy!"
15,16,91,1,646,5,0,1,0,No treatment needed,STOP IT NOW DUMMY!,Eat more chocolate
16,17,150,1,517,16,2,1,1,You're screwed!,STOP IT NOW DUMMY!,"Strike first, strike hard, no mercy!"
17,18,172,1,382,8,2,0,0,You're screwed!,STOP IT NOW DUMMY!,Nice
18,19,153,0,744,26,2,1,1,You're screwed!,Good job!,"Strike first, strike hard, no mercy!"
19,20,109,1,422,8,0,0,0,No treatment needed,STOP IT NOW DUMMY!,Nice
20,21,166,0,719,15,2,1,0,You're screwed!,Good job!,Eat more chocolate
21,22,133,0,752,29,1,1,1,Exercise Daily,Good job!,"Strike first, strike hard, no mercy!"
22,23,116,1,346,23,0,0,1,No treatment needed,STOP IT NOW DUMMY!,Take more walks
23,24,85,0,613,8,0,1,0,No treatment needed,Good job!,Eat more chocolate
24,25,147,0,648,14,2,1,0,You're screwed!,Good job!,Eat more chocolate
25,26,139,0,463,10,1,0,0,Exercise Daily,Good job!,Nice
26,27,117,1,553,12,0,1,0,No treatment needed,STOP IT NOW DUMMY!,Eat more chocolate
27,28,120,1,428,24,0,0,1,No treatment needed,STOP IT NOW DUMMY!,Take more walks
28,29,100,0,372,20,0,0,1,No treatment needed,Good job!,Take more walks
29,30,96,1,659,9,0,1,0,No treatment needed,STOP IT NOW DUMMY!,Eat more chocolate
30,31,93,0,702,23,0,1,1,No treatment needed,Good job!,"Strike first, strike hard, no mercy!"
31,32,162,0,503,28,2,1,1,You're screwed!,Good job!,"Strike first, strike hard, no mercy!"
32,33,134,0,644,20,1,1,1,Exercise Daily,Good job!,"Strike first, strike hard, no mercy!"
33,34,151,1,590,6,2,1,0,You're screwed!,STOP IT NOW DUMMY!,Eat more chocolate
34,35,139,1,446,8,1,0,0,Exercise Daily,STOP IT NOW DUMMY!,Nice
35,36,112,1,413,18,0,0,1,No treatment needed,STOP IT NOW DUMMY!,Take more walks
36,37,101,1,584,12,0,1,0,No treatment needed,STOP IT NOW DUMMY!,Eat more chocolate
37,38,166,0,621,9,2,1,0,You're screwed!,Good job!,Eat more chocolate
38,39,110,0,319,24,0,0,1,No treatment needed,Good job!,Take more walks
39,40,172,1,539,5,2,1,0,You're screwed!,STOP IT NOW DUMMY!,Eat more chocolate
40,41,87,0,656,26,0,1,1,No treatment needed,Good job!,"Strike first, strike hard, no mercy!"
41,42,174,1,320,7,2,0,0,You're screwed!,STOP IT NOW DUMMY!,Nice
42,43,94,1,304,16,0,0,1,No treatment needed,STOP IT NOW DUMMY!,Take more walks
43,44,115,0,466,6,0,0,0,No treatment needed,Good job!,Nice
44,45,163,0,501,26,2,1,1,You're screwed!,Good job!,"Strike first, strike hard, no mercy!"
45,46,164,1,313,5,2,0,0,You're screwed!,STOP IT NOW DUMMY!,Nice
46,47,142,0,676,18,2,1,1,You're screwed!,Good job!,"Strike first, strike hard, no mercy!"
47,48,90,0,329,17,0,0,1,No treatment needed,Good job!,Take more walks
48,49,164,0,532,10,2,1,0,You're screwed!,Good job!,Eat more chocolate
49,50,122,0,498,14,1,0,0,Exercise Daily,Good job!,Nice